In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [4]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)

In [8]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
ser3.reindex(ranger)

0        USA
1        NaN
2        NaN
3        NaN
4        NaN
5     Mexico
6        NaN
7        NaN
8        NaN
9        NaN
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [10]:
# the method is forward fill
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.540120 -1.695612 -0.695288 -1.044994 -1.689701
B  0.019159 -1.570270 -1.306375  0.026649  0.998676
D  1.381003  0.212745  0.590925 -0.571130  0.102757
E -0.135967 -1.170309 -1.471685  0.990200 -0.599869
F  0.664487 -0.446622  1.215292 -1.344340  0.362217

In [13]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [14]:
dframe2

       col1      col2      col3      col4      col5
A  0.540120 -1.695612 -0.695288 -1.044994 -1.689701
B  0.019159 -1.570270 -1.306375  0.026649  0.998676
C       NaN       NaN       NaN       NaN       NaN
D  1.381003  0.212745  0.590925 -0.571130  0.102757
E -0.135967 -1.170309 -1.471685  0.990200 -0.599869
F  0.664487 -0.446622  1.215292 -1.344340  0.362217

In [15]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [16]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.540120 -1.695612 -0.695288 -1.044994 -1.689701   NaN
B  0.019159 -1.570270 -1.306375  0.026649  0.998676   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.381003  0.212745  0.590925 -0.571130  0.102757   NaN
E -0.135967 -1.170309 -1.471685  0.990200 -0.599869   NaN
F  0.664487 -0.446622  1.215292 -1.344340  0.362217   NaN

In [17]:
dframe

       col1      col2      col3      col4      col5
A  0.540120 -1.695612 -0.695288 -1.044994 -1.689701
B  0.019159 -1.570270 -1.306375  0.026649  0.998676
D  1.381003  0.212745  0.590925 -0.571130  0.102757
E -0.135967 -1.170309 -1.471685  0.990200 -0.599869
F  0.664487 -0.446622  1.215292 -1.344340  0.362217

In [18]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.540120 -1.695612 -0.695288 -1.044994 -1.689701   NaN
B  0.019159 -1.570270 -1.306375  0.026649  0.998676   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.381003  0.212745  0.590925 -0.571130  0.102757   NaN
E -0.135967 -1.170309 -1.471685  0.990200 -0.599869   NaN
F  0.664487 -0.446622  1.215292 -1.344340  0.362217   NaN