In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                   'k2':['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})

In [4]:
dframe

   dataset1  dataset2 k1     k2
0  1.250360 -1.100342  X  alpha
1 -0.383447  0.369786  X   beta
2 -0.452956  0.134001  Y  alpha
3  0.718877 -1.073807  Y   beta
4  0.362485  0.225959  Z  alpha

In [5]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [7]:
group1

In [8]:
group1.mean()

k1
X    0.433457
Y    0.132960
Z    0.362485
Name: dataset1, dtype: float64

In [9]:
cities = np.array(['NY','LA','LA','NY','NY'])

In [10]:
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [11]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.383447
    JAN   -0.452956
NY  FEB    0.718877
    JAN    0.806422
Name: dataset1, dtype: float64

In [12]:
dframe

   dataset1  dataset2 k1     k2
0  1.250360 -1.100342  X  alpha
1 -0.383447  0.369786  X   beta
2 -0.452956  0.134001  Y  alpha
3  0.718877 -1.073807  Y   beta
4  0.362485  0.225959  Z  alpha

In [13]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.433457 -0.365278
Y   0.132960 -0.469903
Z   0.362485  0.225959

In [14]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  1.250360 -1.100342
   beta  -0.383447  0.369786
Y  alpha -0.452956  0.134001
   beta   0.718877 -1.073807
Z  alpha  0.362485  0.225959

In [15]:
dframe.groupby('k1')

In [16]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [17]:
dframe.groupby('k1').size()

k1
X    2
Y    2
Z    1
dtype: int64

In [19]:
for name,group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0  1.250360 -1.100342  X  alpha
1 -0.383447  0.369786  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -0.452956  0.134001  Y  alpha
3  0.718877 -1.073807  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  0.362485  0.225959  Z  alpha

In [21]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print '\n'

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0   1.25036 -1.100342  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1 -0.383447  0.369786  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2 -0.452956  0.134001  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3  0.718877 -1.073807  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  0.362485  0.225959  Z  alpha

In [22]:
# create a dict wit list from groupby result
group_dict = dict(list(dframe.groupby('k1')))

In [23]:
# it will trase with list value
group_dict['X']

   dataset1  dataset2 k1     k2
0  1.250360 -1.100342  X  alpha
1 -0.383447  0.369786  X   beta

In [24]:
group_dict['Y']

   dataset1  dataset2 k1     k2
2 -0.452956  0.134001  Y  alpha
3  0.718877 -1.073807  Y   beta

In [25]:
# seperate data by data types
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [26]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  1.250360 -1.100342
 1 -0.383447  0.369786
 2 -0.452956  0.134001
 3  0.718877 -1.073807
 4  0.362485  0.225959, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [27]:
# only show the dataset2 column
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha -1.100342
   beta   0.369786
Y  alpha  0.134001
   beta  -1.073807
Z  alpha  0.225959

In [28]:
dframe

   dataset1  dataset2 k1     k2
0  1.250360 -1.100342  X  alpha
1 -0.383447  0.369786  X   beta
2 -0.452956  0.134001  Y  alpha
3  0.718877 -1.073807  Y   beta
4  0.362485  0.225959  Z  alpha