In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser = Series(randn(6), index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a   -1.885231
   b   -0.020027
   c    0.821522
2  a    0.719092
   b   -0.923332
   c    0.788333
dtype: float64

In [3]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [4]:
ser[1]

a   -1.885231
b   -0.020027
c    0.821522
dtype: float64

In [5]:
ser[2]

a    0.719092
b   -0.923332
c    0.788333
dtype: float64

In [6]:
ser

1  a   -1.885231
   b   -0.020027
   c    0.821522
2  a    0.719092
   b   -0.923332
   c    0.788333
dtype: float64

In [7]:
ser[:,'a']

1   -1.885231
2    0.719092
dtype: float64

In [8]:
dframe = ser.unstack()

In [9]:
dframe

          a         b         c
1 -1.885231 -0.020027  0.821522
2  0.719092 -0.923332  0.788333

In [11]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [12]:
dframe2.index.names = ['INDEX_1','INDEX_2']

In [13]:
dframe2.columns.names=['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [14]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [15]:
# sort by second index
dframe2.sortlevel(1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [16]:
# sort by first index
dframe2.sortlevel(0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27