In [1]:
import pandas as pd

In [2]:
xlsfile = pd.ExcelFile('Lec28 test.xlsx')

In [3]:
dframe = xlsfile.parse('Sheet1')

In [4]:
dframe

   Test  Unnamed: 1  Unnamed: 2  Unnamed: 3
0   NaN         234         123         445
1   NaN         233         343         567
2   NaN         444         435        8567
3   NaN         555        3545         856
4   NaN         666         343         568