In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12])

In [4]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [10]:
ww2_cas = Series([87000000,4300000,3000000,21000000,4000000],index = ['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       87000000
Germany     4300000
China       3000000
Japan      21000000
USA         4000000
dtype: int64

In [6]:
ww2_cas['USA']

400000

In [12]:
# Check which countries had cas greater than 4 million
ww2_cas[ww2_cas > 4000000]

USSR       87000000
Germany     4300000
Japan      21000000
dtype: int64

In [13]:
'USSR' in ww2_cas

True

In [14]:
'US' in ww2_cas

False

In [15]:
'USA' in ww2_cas

True

In [16]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 21000000,
 'USA': 4000000,
 'USSR': 87000000}

In [17]:
ww2_series = Series(ww2_dict)

In [18]:
ww2_series

China       3000000
Germany     4300000
Japan      21000000
USA         4000000
USSR       87000000
dtype: int64

In [19]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [20]:
obj2 = Series(ww2_dict,index = countries)
obj2

China         3000000
Germany       4300000
Japan        21000000
USA           4000000
USSR         87000000
Argentina         NaN
dtype: float64

In [21]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [22]:
obj2

China         3000000
Germany       4300000
Japan        21000000
USA           4000000
USSR         87000000
Argentina         NaN
dtype: float64

In [23]:
ww2_series + obj2

Argentina          NaN
China          6000000
Germany        8600000
Japan         42000000
USA            8000000
USSR         174000000
dtype: float64

In [24]:
obj2.name = 'World War 2 Casualties'

In [25]:
obj2

China         3000000
Germany       4300000
Japan        21000000
USA           4000000
USSR         87000000
Argentina         NaN
Name: World War 2 Casualties, dtype: float64

In [26]:
obj2.index.name = 'Countries'

In [27]:
obj2

Countries
China         3000000
Germany       4300000
Japan        21000000
USA           4000000
USSR         87000000
Argentina         NaN
Name: World War 2 Casualties, dtype: float64