In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
# Import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

# Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value': frame.values.ravel('F'),
            'variable': np.asarray(frame.columns).repeat(N),
            'date': np.tile(np.asarray(frame.index),K)}
    # Return the DataFrame
    return DataFrame(data, columns=['date','variable','value'])
# Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
dframe

         date variable     value
0  2000-01-03        A -1.429440
1  2000-01-04        A -0.593988
2  2000-01-05        A -3.041337
3  2000-01-03        B -0.342425
4  2000-01-04        B -1.227925
5  2000-01-05        B -0.219298
6  2000-01-03        C  0.494724
7  2000-01-04        C -0.692851
8  2000-01-05        C -0.088583
9  2000-01-03        D -0.097762
10 2000-01-04        D  0.516359
11 2000-01-05        D  0.041465

In [4]:
dframe_piv = dframe.pivot('date','variable','value')

In [5]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -1.429440 -0.342425  0.494724 -0.097762
2000-01-04 -0.593988 -1.227925 -0.692851  0.516359
2000-01-05 -3.041337 -0.219298 -0.088583  0.041465